<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
</head>
<body>

{% block navbar %}
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="{{ path('front_homepage') }}">
            <img src="{{ asset('assets/images/QSP.png') }}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        À Propos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('blog_homepage') }}">Actualités</a>
                        <a class="dropdown-item" href="{{ path('front_qsnpage') }}">Qui sommes-nous ?</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('faq_faqpage') }}">F.A.Q.</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('front_contact') }}">Nous contacter</a>
                </li>

                {% if app.user.username is defined %}
                    {% if is_granted('ROLE_TENANT')  %}
                        <li class="nav-item none-on-high">
                            <a class="nav-link" href="{{ path('front_tenant_homepage') }}">Tableau de bord</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_INVESTOR') %}
                        <li class="nav-item none-on-high">
                            <a class="nav-link" href="{{ path('front_investor_homepage') }}">Tableau de bord</a>
                        </li>
                    {% endif %}

                    <li class="nav-item none-on-high">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Se déconnecter</a>
                    </li>

                {% else %}

                    <li class="nav-item none-on-high">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                    </li>
                    <li class="nav-item none-on-high">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Se connecter</a>
                    </li>

                {% endif %}
            </ul>
            <div class="right none-on-low">

                {% if app.user.username is defined %}
                    {% if is_granted('ROLE_TENANT')  %}
                        <a class="btn_c" href="{{ path('front_tenant_homepage') }}">Tableau de bord</a>
                    {% endif %}

                    {% if is_granted('ROLE_INVESTOR')  %}
                        <a class="btn_c" href="{{ path('front_investor_homepage') }}">Tableau de bord</a>
                    {% endif %}
                    <a class="btn_c" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
                {% else %}
                    <a class="btn_c" href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                    <a class="btn_c" href="{{ path('fos_user_security_login') }}">Se connecter</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
<!-- HEADER -->


{% block body %}{% endblock %}



<!-- Footer -->
<footer class="page-footer font-small pt-4 mt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="#"> QSP</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

{% block script %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/custom.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>